<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen">
</head>
<body>
<div id="Content">
<table align="center">
    <h2 align="center">Item Information</h2>

    <tr>
        <th>Item ID</th>
        <th>Product ID</th>
        <th>Description</th>
        <th>List Price</th>
        <th>Quantity</th>
    <tr th:each="item:${itemList}">
        <td><a th:href="@{/manager/ViewItems(itemId=${item.itemId})}" th:text="${item.itemId}">Item ID</a></td>
        <td th:text="${item.productId}">Item Product ProductID</td>
        <td th:text="${item.attribute1}">
            Item Attributes
        </td>
        <td th:text="'$'+${item.listPrice}">Item List Price</td>
        <td th:text="${item.quantity}">Item Quantity</td>
    </tr>

<td><a href="/manager/newItemsForm">ADD </a></td>
</table>
</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>